.NewIncident__container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0 auto;
  max-width: 1120px;
  width: 100%;
}

.NewIncident__content {
  align-items: center;
  background: #f0f0f5;
  border-radius: 8px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 96px;
  width: 100%;
}

.NewIncident__info {
  max-width: 380px;
  width: 100%;
}

.NewIncident__title {
  margin: 64px 0 32px;
  font-size: 32px;
}

.NewIncident__subtitle {
  color: #737380;
  font-size: 18px;
  line-height: 32px;
}

.NewIncident__link {
  align-items: center;
  color: #41414d;
  display: flex;
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
  text-decoration: none;
  transition: opacity 0.2s;
}

.NewIncident__link:hover {
  opacity: 0.8;
}

.NewIncident__form {
  max-width: 450px;
  width: 100%;
}

.NewIncident__textarea {
  border: 1px solid #dcdce6;
  border-radius: 8px;
  color: #333;
  height: 60px;
  line-height: 24px;
  min-height: 140px;
  padding: 16px 24px;
  resize: vertical;
  width: 100%;
}

.NewIncident__textarea,
.NewIncident__form input {
  margin-top: 8px;
}

.NewIncident__input-group {
  display: flex;
}

.NewIncident__input-group input + input {
  margin-left: 8px;
}
